<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
        <bean id="userDao" class="com.dao.impl.UserDaoIMpl"></bean>
        <bean id="userService" class="com.service.impl.UserServiceImpl">
            <!--同过constructor给构造方法属性中赋值-->
            <constructor-arg>
                <ref bean="userDao"/>
            </constructor-arg>
        </bean>
    <!--声明处理类的bean元素-->
    <bean id="errorLogger" class="com.aop.ErrorLogger"></bean>
    <aop:config>
        <!--定义切入点-->
        <aop:pointcut id="pointcut" expression="execution( public void addNewUser(com.entity.User ))"/>
        <!--织入增强处理 -->
        <aop:aspect ref="errorLogger">
            <!--将afterThrowing方法定义为异常抛出增强并引入切入点pointcut-->
            <!--通过throwing属性为参数e注入异常实例-->
            <aop:after-throwing method="afterThrowing" pointcut-ref="pointcut" throwing="e" />
        </aop:aspect>
    </aop:config>

    <bean id="afterLogger" class="com.aop.AfterLogger"></bean>
    <aop:config>
        <!--定义切入点-->
        <aop:pointcut id="pointcut" expression="execution( public void addNewUser(com.entity.User ))"/>
        <!--织入增强处理 -->
        <aop:aspect ref="afterLogger">
            <!--将afterThrowin方法定义为最终增强并引入切入点pointcut-->
            <!--通过throwing属性为参数e注入异常实例-->
            <aop:after method="after" pointcut-ref="pointcut"  />
        </aop:aspect>
    </aop:config>
</beans>